ul {
  margin: 0;
  padding: 0;
}
.card {
  display: inline-flex;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
}
.avatar {
  border-radius: 50%;
}
.card + .card {
  margin-top: 8px;
}
.avatar {
  border-radius: 50%;
}

.blue {
  background-color: blue;
  color: white;
}
.gray {
  background-color: gray;
  color: white;
}

.chemist {
  background-color: #eee;
}
.other {
  background-color: palegoldenrod;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid transparent;
}

.picture--active {
  border: 5px solid #a6b5ff;
}

.selected,
li.hightlighted {
  background-color: #d2eaff;
}

.hightlight {
  background-color: #f0f0f0;
}
.hint-msg {
  display: none;
  font-size: 14px;
  color: red;
}
.favorite {
  font-weight: bold;
  color: palevioletred;
}

table {
  border-collapse: collapse;
}
table th,
table td {
  padding: 4px 6px;
  font-size: 14px;
  border: 1px solid #ddd;
}

.cell {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btns {
  display: flex;
  flex-direction: column;
}
.btns button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 14px;
  padding: 0;
  border: 1px solid #ccc;
  cursor: pointer;
}
.btns button:active {
  background-color: #ccc;
}
.counter {
  display: inline-flex;
  flex-direction: column;
  min-width: 100px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 16px;
  text-align: center;
}
.counter + .counter {
  margin-left: 24px;
}
.counter.hover {
  background: lightgoldenrodyellow;
}
.counter.fancy {
  border: 5px solid yellowgreen;
}
.counter.fancy h1 {
  color: orange;
}
.counter + button {
  display: block;
  margin-top: 20px;
}

.chat, .contact-list {
  float: left;
  margin-bottom: 20px;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li button {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
}
textarea {
  height: 150px;
}
