ul {
  margin: 0;
  padding: 0;
}
.card {
  display: inline-flex;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
}
.avatar {
  border-radius: 50%;
}
.card + .card {
  margin-top: 8px;
}
.avatar {
  border-radius: 50%;
}

.blue {
  background-color: blue;
  color: white;
}
.gray {
  background-color: gray;
  color: white;
}

.chemist {
  background-color: #eee;
}
.other {
  background-color: palegoldenrod;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid transparent;
}

.picture--active {
  border: 5px solid #a6b5ff;
}

.selected,
li.hightlighted {
  background-color: #d2eaff;
}

.hightlight {
  background-color: #f0f0f0;
}
.hint-msg {
  display: none;
  font-size: 14px;
  color: red;
}
.favorite {
  font-weight: bold;
  color: palevioletred;
}